<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>国家民委项目申报系统</title>
<link href="/static/newcss/style.css" rel="stylesheet" type="text/css">
 <script type="text/javascript">
    function newcode(img){
        img.src='/login/code/?p='+Math.random();
    }

</script>
</head>
<body id="mw">
<form accept-charset="UTF-8" action="/login/" class="new_user_session" id="new_user_session" method="post">
<div class="mw_login">
	<div class="mw_login_a">
		<img src="/static/newcss/images/login_title.jpg" />
	</div>
	
	<div class="mw_login_b">
		<h2>用户登录</h2>
		<div class="login_input_a">
			<label>用户名</label>
			<input type="text" class="input_a" placeholder="请输入用户名" id="user_session_login" name="name"/>
		</div>
		<div class="login_input_a">
			<label>密码</label>
			<input type="password" class="input_a" placeholder="请输入密码" id="user_session_password" name="password"/>
		</div>
		<div class="login_input_a">
			<label>验证码</label>
			<span class="input_c"><img src="/login/code/" onclick="newcode(this)"/></span>
			<input type="text" class="input_b" placeholder="请输入验证码" id="user_session_code" name="code"  />
			
		</div>
		<div class="login_input_b">
			<div class="input_d"><a href="index.html"><input type="submit" value="登录" style="width:100%; background:none; font-size:20px; text-align:center; line-height:35px; border:0 none; color:#fff; cursor:pointer;" /></a></div>
			<div class="input_e"><a href="/user/register/"><span>个人注册</span></a><a href="/register/unittype/"><span>单位注册</span></a></div>
		</div>
		<div class="field" >{{errormessage}}</div>
	</div>
	<div class="mw_login_c">
		<p>© 2012-2013 国家民委</p>
	</div>
</div>
</form>
</body>
</html>
