<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>系统消息 -国家民委项目申报系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<link href="/static/login/Login.css" media="screen" rel="stylesheet" type="text/css">
  
</head>

<body class="box" >

	<div id="container" style="max-width: 480px">
		<span id="_top"></span>
<div id="header" class="group"> 
	<h2 id="logo">
		<a href="#" data-skip-pjax="true">
			<span class="title">国家民委项目申报系统</span>
</a>	</h2> 
	<div id="account-nav"> 
			<p>系统消息</p>
	</div> 
</div> 
<div id="content">
	<div class="flash error" >
	     {{message}}
  	</div>
</div>
<div class="addon-content">
	
</div>
<div id="footer-container">
	<div id="footer" class="group">
		<p>© 2012-2013 国家民委<br></p>
	</div>
</div>
	</div>
</body></html>