<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>单位注册 -国家民委项目申报系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<link href="/static/login/Login.css" media="screen" rel="stylesheet" type="text/css">

</head>

<body class="box" >
<center>
<div id="content" >
	<form accept-charset="UTF-8" action="/login/" class="new_user_session" id="new_user_session" method="post">
			<br/>
				<br/>
				<br/>
				<br/>
			<div class="actions">
				<input class="button"
                       onclick="javascript:window.location.href='/unit/register/go/?level=1'"
                       name="commit" type="button" value="一级单位注册" style="width:300px;height:65px"/>
				<br/>
				<br/>
				<input class="button"
                       onclick="javascript:window.location.href='/unit/register/go/?level=2'"
                       name="commit" type="button" value="二级单位注册"  style="width:300px;height:65px"/>
			</div>
	</form>
</div></center>
</center>
</body>
</html>