<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}resources/css/ext-all.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}resources/css/icon.css"/>
    <script type="text/javascript" src="{{STATIC_PREFIX}}ext-base.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}ext-all-debug.js"  charset="utf-8"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}ext-lang-zh_CN.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}core/common.js"  charset="utf-8"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}core/controls.js"  charset="utf-8"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}{%block scripts%}{% endblock %}"  charset="utf-8"></script>
    {%block scripts_block%}{% endblock %}
</head>
<body>
{%block body%}{% endblock %}
</body>
</html>