<table>
<tr><td>项目名称：</td><td>{{obj.project_name}}</td></tr>
<tr><td>项目编号：</td><td>{{obj.project_no}}</td></tr>

<tr><td>学科分类:</td><td>{{obj.study_type_name}}</td></tr>
<tr><td>研究类型:</td><td>{{obj.reserch_type_name}}</td></tr>
<tr><td>担任导师:</td><td>{{obj.applicant.real_name}}</td></tr>
<tr><td>担任导师单位:</td><td>{{obj.teacher_unit}}</td></tr>
<tr><td>担任导师电话:</td><td>{{obj.teacher_phone}}</td></tr>
<tr><td>导师研究成果:</td><td>{{obj.teacher_remark}}</td></tr>
<tr><td>可行性论证:</td><td>{{obj.feasibility_desc}}</td></tr>
<tr><td>应用推广或市场分析:</td><td>{{obj.marketing_desc}}</td></tr>
<tr><td>经费(万元)：</td><td>{{obj.total_money}}</td></tr>
</table>